<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="homepage.component.css">
</head>

<body>

    <header class="header-bar">
        <ul>
            <li><img src="hamburger.png" alt="Menu" class="menu"></li>
        </ul>
        <a href="/" class="title">WanderPets</a>
        <ul>    
            <li><img src="add-post.png" alt="Add Post" class="add-post"></li>
            <li><img src="filter.png" alt="Filter" class="filter"></li>
        </ul>
    </header>

    <main>
     
    </main>

</body>

</html>