<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="homepage.component.css">
</head>

<body>

    <header class="header-bar">
        <ul>
            <li><a href="#" (click)="onMenuClick()"><img src="hamburger.png" alt="Menu" class="menu"></a></li>
        </ul>
        <a href="#" class="title">WanderPets</a>
        <ul>    
            <li><a href="#" (click)="onAddPostClick()"><img src="add-post.png" alt="Add Post" class="add-post"></a></li>
            <li><a href="#" (click)="onFilterClick()"><img src="filter.png" alt="Filter" class="filter"></a></li>
        </ul>
    </header>

    <main>
        <app-post-popup *ngIf="isPopupVisible" (close)="onPopupClose()"></app-post-popup>
    </main>

</body>

</html>