<div class="popup-overlay" (click)="closePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <form>
      <input type="text" id="createpost" name="createpost"  placeholder="Create a Post">
      
      <label for="AddPhoto">Add Photo</label>
      <input type="image" id="AddPhoto" name="AddPhoto" accept="image/*">

      <label for="Location">Location: </label>
      <input type="text" id="Location" name="Location">

      <label for="Tag">Add Tag: </label>
      <input type="text" id="Tag" name="Tag">

      <button type="submit">Post!</button>

      <button type="button" (click)="closePopup()">Close</button>
    </form>
  </div>
</div>

