*{
    margin: 0;
    padding: 0;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: #956935;
    box-shadow: 3x 3x 5x rgba(0, 0, 0, 0.1);
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
nav a:hover{
    background-color: #f9f7dc;
    color: #cf6b21;
}
nav li:first-child{
    margin-right: auto;
}