<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="register.component.css">
</head>
<body>
  <div class="container">
    <div class="title">Register</div>
    <form action="registration.php" method="post">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Username</span>
          <input type="text" id="userName" name="userName" placeholder="Enter Your Username" required>
        </div>
        <div class="input-box">
          <span class="details">Full Name</span>
          <input type="text"id="fullName" name="fullName" placeholder="Enter Your Full Name" required>
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input type="text" id="userEmail" name="userEmail" placeholder="Enter Your Email" required>
        </div>
        <div class="input-box">
          <span class="details">Phone Number</span>
          <input type="text" id="userPhone" name="userPhone" placeholder="Enter Your Phone Number" required>
        </div>
        <div class="input-box">
          <span class="details">Password</span>
          <input type="password" id="userPassword" name="userPassword" placeholder="Enter Your Passoword" required>
        </div>
        <div class="input-box">
          <span class="details">Confirm Password</span>
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your Password" required>
        </div>
      </div>
      <div class="registerButton">
        <input type="submit" value="Register">
      </div>
    </form>
  </div>
  <div class="container2">
    <img src="gilby's (2).png" style="width: 600px;">
  </div>
</body>
</html>